--extra-index-url https://download.pytorch.org/whl/cpu
numpy
matplotlib
opencv-python-headless
imageio-ffmpeg
tqdm
requests
SpeechRecognition
streamlit
librosa
fastapi
uvicorn
moviepy<2.0.0
numba
scipy
torch
openai-whisper
